@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800italic,800");
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body{
	font-family: 'Open Sans';
}

a{
	text-decoration: none; 
}

div#header{
	width: 100%;
	height: 70px;
	background-color: #2c3e50;
	margin: 0 auto;
}

.logo{
	float: left;
	margin-top: 15px;
	margin-left: 20px;
}

.logo a{
	font-size: 25px;
	color: #fff;
	font-weight: bolder;
}

.logo a span{
	font-weight: 300;
}

img#icon-logo{
	width: 200px;
}

ul.menu li{
	list-style: none;
	display: inline;
	margin-left: 20px;
	color: #fff;
	border: 2px solid #fff;
	padding: 5px 15px 5px 15px;
}

div.navMenu{
	padding-top: 20px;
	float: right;
	margin-right: 50px;
}

ul a{
	color: white;
}

div#menuContainer{
	margin-top: 80px;
}

button.menuCustomer{
	font-size: 18px;
	border: none;
	margin-left: 25%;
	margin-top: 30px;
	width: 50%;
	height: 50px;
	text-align: center;
	color: white;
	padding: 10px 7px 10px 7px;
	background-color: #2c3e50;
	display: block;
}

button.menuCustomer:hover{
	cursor: pointer;
	background-color: #2c3e75;
}

#hasil{
	margin-left: 300px;
}

h2{
	margin-top: 20px;
}

input[type=text], button[type=submit], select, button{
	width: 200px;
	padding: 4px 6px 4px 6px;
	font-size: 18px;
}

button[type=submit], button{
	color: white;
	background-color: #2c3e50;
	border: none;
}

button[type=submit]:hover, button:hover{
	cursor: pointer;
	background-color: #2c3e70;
}

h2{
	text-align: center;
}

div.box-Harga{
	margin-top: 20px;
	padding-top: 20px;
	padding-bottom: 20px;
	border: 2px solid #2c3e70;
	margin-left: 25%;
	margin-right: 25%;
}

select#kota{
	margin-left: 580px;
	margin-top: 20px;
}

button[type=submit]{
	margin-left: 580px;
	margin-top: 10px;
}

#daftar-kantor{
	margin-left: 20px;
}

table{
	margin-left: 270px;	

}

button#back{
	margin-left: 550px;	

}
